$white: rgb(245, 245, 245);
$grey: rgb(220, 220, 220);
$dark: rgb(90, 90, 90);
$black: rgb(20, 20, 20);
$crimson: rgb(184, 1, 0);
$pink: rgb(250, 180, 180);
$darker-pink: rgb(245, 161, 161);

@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

html body {
    margin: 0;
    background-color: $grey;
}

*::-webkit-scrollbar {
    display: none;
}

hr {
    border: 1px solid $crimson;
}

h1, h2, h3, p, a, div {
    margin: 0;
    font-family: "OpenSans";
    color: $black;
}

h1 {
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 16px;
}

p {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: min(100vw - 40px, 800px);
}

input, select {
    background-color: $white;
    border: none;
    outline: none;
}

input {
    border-bottom: 0.1px solid $crimson;
}

.top-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $white;
    border-bottom: 2px solid $crimson;

    a {
        font-weight: normal;
        font-size: 18px;
        text-wrap: nowrap;
        text-decoration: none;
        padding: 20px;
        transition: background-color 0.2s;
    }

    a.active {
        color: $crimson;
    }

    a:hover {
        background-color: $grey;
    }
}

.page-content {
    width: 100%;
    min-height: calc(100vh - 66.5px - 10px); // 66.5px is the empirical raster height of the navbar
    background-color: $grey;
}

.standard-content-container {
    width: 100%;
    min-height: calc(100vh - 66.5px - 72.5px - 2px);
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    background-color: $white;
    border-top: 2px solid $crimson;

    .info-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 560px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        background-color: $grey;
        border-radius: 10px;
    
        label {
            margin: 20px 0;
        }
    
        hr {
            border-width: 1px;
            margin: 0 10px;
        }
    
        .tournament-input {
            width: 200px;
            margin-left: 4px;
        }

        .button {
            width: 50%;
            margin: 10px auto;
            padding: 10px;
            border: 2px solid $crimson;
            border-radius: 10px;
            background-color: $pink;
            cursor: pointer;
            transition: background-color 0.4s;
        }

        .button:hover {
            background-color: $darker-pink;
        }

        .schema-entry-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 10px;
            margin-top: 0;

            .schema-entry-content {
                display: flex;
                flex-direction: column;
                width: 420px;
                padding: 10px 0;
                background-color: $white;
                border: 2px solid $crimson;
                border-radius: 10px;

                .attribute {
                    label {
                        margin-right: 4px;
                    }

                    input, select {
                        width: 120px;
                        padding: 10px 0;
                        overflow-x: scroll;
                    }
                }

                hr {
                    margin: 10px 0;
                }
            }

            .delete-allowed, .delete-disallowed {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                margin-left: 20px;
                font-size: 24px;
            }

            .delete-allowed {
                color: $crimson;
            }
            
            .delete-disallowed {
                color: $black;
            }
            
            .drag {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                color: $crimson;
                font-size: 24px;
            }
        }
    }
}

.tabs-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 38px;
    margin-top: 10px;
    background-color: $grey;
    border-bottom: 2px solid $crimson;

    .tab {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-family: "OpenSans";
        font-size: 14px;
        padding-left: 20px;
        padding-right: 8px;
        margin-right: 4px;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 2px solid;
        background-color: $white;

        .delete-container {
            margin-left: 10px;
            padding: 2px 8px;
            border-radius: 6px;
            transition: background-color 0.2s;
            background-color: transparent;

            .delete-svg {
                color: transparent;
                font-size: 12px;
            }
        }

        .delete-container:hover {
            background-color: $grey;
        }
    }

    .tab:hover .delete-svg {
        color: $black;
    }

    .active {
        border-bottom-width: 2px;
        border-color: $crimson;
        border-bottom-color: $white;
    }

    .inactive {
        border-bottom-width: 0;
        border-color: $pink;
    }

    .add {
        position: relative;
        margin: 0 10px;

        .icon-container {
            position: relative;
            width: 28px;
            height: 28px;
            border-radius: 16px;
            border: 2px solid $crimson;
            background-color: $white;
            transition: border-color 0.4s;

            .icon-svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-size: 18px;
                color: $crimson;
                transition: font-size 0.4s;
                transition-delay: font-size 0.6s;
            }
        }
        
        .icon-container:hover {
            border-color: $white;

            .icon-svg {
                font-size: 24px;
            }
        }

    }
}

.tab-options-menu {
    position: absolute;
    z-index: 1000;
    top: calc(66.5px + 39.6px + 15px); // 66.5px is the height of the navbar, 39.6px is the height of the tabs container
    left: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 0.1px solid $crimson;
    background-color: $white;

    .option {
        width: 140px;
        font-family: "OpenSans";
        font-size: 14px;
        padding: 10px 20px;
        background-color: $white;
        transform: background-color 0.4s;
    }

    .option:hover {
        background-color: $grey;
    }
}

.tab-content-container {
    width: 100%;
    min-height: calc(100vh - 66.5px - 49.6px);
    margin: 0;
    padding: 0;
    background-color: $white;
}

.vertical-divider {
    margin: 0 8px;
    border-left: 2px solid $crimson;
}

.query-segments {
    display: inline-flex;
    height: min-content;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: $grey;

    select {
        outline: none;
        border: none;
    }

    select:focus {
        outline: none;
        border: none;
    }

    .query-segment {
        display: flex;
        flex-direction: column;
    }
}

.toggleables-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .toggleables {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .toggleable {
            display: flex;
            flex-direction: row;
            margin-bottom: 2px;

            input[type="text"] {
                width: 100px;
                margin-left: 4px;
            }
        }
    }
}

.axis-selector {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    select {
        width: 100px;
        margin-left: 4px;
    }
}

.qualitative-data-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: min-content;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: $grey;

    .key {
        width: 180px;
        margin: 0 10px
    }

    ul {
        padding-inline-start: 20px;
    }

    .value {
        width: 320px;
        margin-left:0 10px;
    }
}